<div class="app-c-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div class="app-c-title app-c-title--inverse govuk-!-margin-top-0 govuk-!-margin-bottom-6">
            <span class="govuk-caption-xl app-c-title__context">
              Coronavirus (COVID-19)
            </span>
            <h1 class="app-c-title__text ">
              Information based on your answers
            </h1>
          </div>
          <a class="govuk-link" href="/">Start again</a>
      </div>
    </div>
  </div>
</div>
