
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "./partials/_phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">Use this service to find out what help you can get if you’re affected by coronavirus. You can use it for yourself or someone else.</p>

    <p class="govuk-body">You can find information about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>feeling unsafe</li>
      <li>going to work</li>
      <li>paying bills or being unemployed</li>
      <li>getting food</li>
      <li>having somewhere to live</li>
      <li>mental health and wellbeing</li>
    </ul>

    {{ govukInsetText({
      html: 'If you need medical help, <a class="govuk-link" href="https://www.nhs.uk/conditions/coronavirus-covid-19/check-if-you-have-coronavirus-symptoms/">got to NHS 111 online</a>'
    }) }}

    <p class="govuk-body">You will not get direct support from the government or organisations through this service.</p>

    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}

  </div>
</div>

{% endblock %}
